body{
	background-color: white;
	text-align: center;
	margin-top: 10%;
}
/*Variable css
:root{
	--ia-color: #222;
	--a-color: red;
	--padding-p: 4px;
	--bar-w: 16px;
	--bar-pad: 8px;
	
	--padding: calc(var(--padding-p)* 2);
	--bar-h: calc(var(--bar-w)* 4);
	--bar-r: calc(var(--bar-w)/2);
	--bar-p: calc(var(--padding-p)+ var(--bar-w));
	--c-w: calc(var(--bar-p) * 2 + var(--bar-h));
	--c-h: calc(var(--bar-p) * 2 + var(--bar-h) * 2 + var(--padding-p) + var(--bar-pad));
}*/
:root {
    --ia-color: rgb(255, 229, 229);
    --a-color: rgb(219, 76, 76);
    --padding-p: 4px;
    --bar-w: 16px;
    --bar-pad: 8px;

    --padding: calc(var(--padding-p) * 2);
    --bar-h: calc(var(--bar-w) * 4.5);
    --bar-r: calr(var(--bar-w) / 2);
    --bar-p: calc(var(--padding-p) + var(--bar-w));
    --c-w: calc(var(--bar-p) * 2 + var(--bar-h));
    --c-h: calc(var(--bar-p) * 2 + var(--bar-h) * 2 + var(--padding-p) + var(--bar-pad));
}
button{
	color: white;
	border-style: solid;
	padding: 6px 9px;
	cursor: pointer;
	margin: 5px 9px;
	z-index: 2;
	position:relative;
}
#start{
	background-color: rgb(0, 123, 255);
	border: rgb(0, 123, 255) 1px;
}
#stop{
	background-color:rgb(220, 53, 69);
	border:rgb(220, 53, 69) 1px;
}
#reset{
	background-color:rgb(255, 193, 7);
	border:rgb(255, 193, 7) 1px;
}
.s7, .dot{
	display: inline-block;
	width: var(--c-w);
	height: var(--c-h);
	position: relative;
	margin: 0;
}
#dot{
	display: inline-block;
	position: relative;
	font-size:10em;
	top:-50px;
	color: var(--a-color);
}
/*
.dot{
	width: calc(var(--c-w)/2);
}
.dot seg{
	background: var(--a-color);
	border-radius: 50%;
	height: calc(var(--bar-h)/3);
	width: var(--bar-w);
	position: absolute;
}
.dot seg:nth-of-type(1){
	top: calc(var(--padding)*6);
}
.dot seg:nth-of-type(2){
	bottom: calc(var(--bar-p)*2);
}*/

/* Control all segment */
.s7 seg{
	background: var(--ia-color);
	border-radius: 30px;
	height: var(--bar-h);
	width: var(--bar-w);
	
}
/* Control: horizonal segment: 1 ,4 ,7 */
.s7 seg:nth-of-type(3n +1){
	height: var(--bar-w);
	width: var(--bar-h);
	left: 50%;
	margin-left: calc(var(--bar-h)/ -2);
}
.s7 seg:nth-of-type(1){
	position: absolute;
	top: var(--padding);
}
.s7 seg:nth-of-type(2){
	position: absolute;
	top: var(--bar-p);
	right: var(--padding);
}
.s7 seg:nth-of-type(3){
	position: absolute;
	bottom: var(--bar-p);
	right: var(--padding);
}
.s7 seg:nth-of-type(4){
	position: absolute;
	bottom: var(--padding);
}
.s7 seg:nth-of-type(5){
	position: absolute;
	bottom: var(--bar-p);
	left: var(--padding);
}
.s7 seg:nth-of-type(6){
	position: absolute;
	top: var(--bar-p);
	left: var(--padding);
}
.s7 seg:nth-of-type(7){
	position: absolute;
	top: 45%;
	margin-top: calc(var(--bar-r)* -1);
}

input[value="0"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(5){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}

input[value="0"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="0"] ~ seg:nth-of-type(5){
	background: var(--a-color);
}

input[value="1"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="1"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}

input[value="2"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="2"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="2"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="2"] ~ seg:nth-of-type(5){
	background: var(--a-color);
}
input[value="2"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}

input[value="3"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="3"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="3"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="3"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="3"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}

input[value="4"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="4"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="4"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}
input[value="4"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}

input[value="5"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="5"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="5"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="5"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}
input[value="5"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}

input[value="6"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="6"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="6"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="6"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}
input[value="6"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}
input[value="6"] ~ seg:nth-of-type(5){
	background: var(--a-color);
}

input[value="7"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="7"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="7"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}

input[value="8"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(5){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}
input[value="8"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}

input[value="9"] ~ seg:nth-of-type(1){
	background: var(--a-color);
}
input[value="9"] ~ seg:nth-of-type(2){
	background: var(--a-color);
}
input[value="9"] ~ seg:nth-of-type(3){
	background: var(--a-color);
}
input[value="9"] ~ seg:nth-of-type(4){
	background: var(--a-color);
}
input[value="9"] ~ seg:nth-of-type(6){
	background: var(--a-color);
}
input[value="9"] ~ seg:nth-of-type(7){
	background: var(--a-color);
}